# TOOD:
# Change to docker compose
# Run tests

image: docker:stable

services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  
variables:
  DOCKER_HUB_REGISTRY: "https://index.docker.io/v1/"

build-master:
    only: 
        - master
    tags:
        - docker
    variables:
        DOCKER_FULL_PATH: "$CI_REGISTRY_IMAGE/$CI_PROJECT_NAME:latest"
    stage: build
    script:
        - docker build -t $DOCKER_FULL_PATH .
        - docker push $DOCKER_FULL_PATH

build-non-master:
    except: 
        - master
    tags:
        - docker
    variables:
        DOCKER_FULL_PATH: "$CI_REGISTRY_IMAGE/$CI_PROJECT_NAME:$CI_COMMIT_REF_NAME"
    stage: build
    script:
        - docker build -t $DOCKER_FULL_PATH .
        - docker push $DOCKER_FULL_PATH
